/* Tab backgrounds */
.tabbrowser-tab:not([selected]):not(:hover) .tab-background,
:root:not([active]) .tabbrowser-tab:not([selected]) .tab-background,
#TabsToolbar,
.tabbrowser-arrowscrollbox,
#tabbrowser-tabs {
  background-color: @base00@ !important;
}

#nav-bar *:not(#stop-reload-button):not(#stop-reload-button *),
#nav-bar-customization-target *:not(#stop-reload-button):not(#stop-reload-button *) {
  background: @base00@ !important;
  background-color: @base00@ !important;
}
